force-app/main/default/flows/Performance_Measure_Orcestrator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Execute_next_experiment</name>
        <label>Execute next experiment</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <actionName>PerformanceExperimentEvent</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>CreateErrorResult</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>serializedExperiments</name>
            <value>
                <elementReference>serializedExperiment</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PerformanceExperimentEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Resume_Next_Experiment</name>
        <label>Resume Next Experiment</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <actionName>ResumePerformanceSuite</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>serializedExperiments</name>
            <value>
                <elementReference>serializedExperiment</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ResumePerformanceSuite</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Is_Completed</name>
        <label>Is Completed</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Execute_next_experiment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has More Experiments</defaultConnectorLabel>
        <rules>
            <name>Is_Final</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PerformanceMeasureEvent.IsFinal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Is Final</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Performance Measure Orcestrator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Performance Measure Orcestrator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Error Record</description>
        <name>CreateErrorResult</name>
        <label>Create Error Result</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Resume_Next_Experiment</targetReference>
        </connector>
        <inputAssignments>
            <field>PerformanceMetrics__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExperimentName__c</field>
            <value>
                <elementReference>PerformanceMeasureEvent.NextExperimentName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Size__c</field>
            <value>
                <elementReference>PerformanceMeasureEvent.NextStepSize__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuiteName__c</field>
            <value>
                <elementReference>PerformanceMeasureEvent.SuiteName__c</elementReference>
            </value>
        </inputAssignments>
        <object>PerformanceMeasureResult__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Wait_For_Event</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PerformanceMeasureEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PerformanceExperimentEvent__e</objectType>
    </variables>
    <variables>
        <name>serializedExperiment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_For_Event</name>
        <label>Wait For Event</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Keep Waiting</defaultConnectorLabel>
        <waitEvents>
            <name>Wait_For_Performance_Measure_Event</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Is_Completed</targetReference>
            </connector>
            <eventType>PerformanceExperimentEvent__e</eventType>
            <label>Wait For Performance Measure Event</label>
            <outputParameters>
                <assignToReference>PerformanceMeasureEvent</assignToReference>
                <name>PerformanceExperimentEvent__e</name>
            </outputParameters>
        </waitEvents>
    </waits>
</Flow>
